body {
  padding: 0;
  margin: 0;
  outline: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: #fff3e4b4;
}

.logo img {
  width: 60px;
}

.pages ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pages ul li {
  list-style: none;
  padding-right: 20px;
  text-decoration: none;
  font-size: 18px;
}

.pages ul li a {
  list-style: none;

  text-decoration: none;
}

.form_head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_head .inputBox {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.inputBox input {
  padding: 5px 20px;
  margin-top: 5px;
}

.form_head h1 {
  text-transform: uppercase;
  color: darkblue;
}

.form_main {
  border: 1px solid rgb(134, 134, 134);
  width: 350px;
  margin: auto;
  padding-bottom: 40px;
  margin-top: 40px;
  box-shadow: 1px 1px 6px rgba(109, 109, 109, 0.521);
}

.buttonBox {
  margin-top: 10px;
}

.message_required {
  color: red;
}
